<router-outlet></router-outlet>
<br>
<br>
<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Email</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Telefono</th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td><i class="fa-solid fa-arrows-up-down-left-right"></i>Borrar</td>        
        <td><i class="fa fa-bars" aria-hidden="true" input type="button" >Editar</i></td>        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Mark</td>
        <td>Otto</td> 
        <td><input type="button" value="">Eliminar</td>        
        <td><input type="button" value="">Actualizar</td>             
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Larry the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>  
        <td><input type="button" value="">Eliminar</td>        
        <td><input type="button" value="">Actualizar</td>            
      </tr>
     
    </tbody>
  </table>


